<div class="main-greeting"><%= @intro %></div>

<div class="topic-container">
	<form class="contact" action="/topic" method="post">
		
		<div class="input-row">
			<label for="title">WHICH COUNTRY? </label>
			<input type="text" name="title" />
		</div>
		
		<div class="input-row">
			<label for="image_url">IMAGE LINK: </label>
			<input type="text" name="image_url" />
		</div>

		<div class="input-row">
			<label for="author">AUTHOR: </label>
			<input type="text" name="author" />
		</div>
		
		<div class="input-row">
			<input type="submit" value="LET'S GO!" />
		</div>

	</form>
</div>

<div class="topic-wrapper clearfix">	
	<% @topics.each do |topic| %>
		<div class="topic-tile">
			<a href="/topic/<%= "#{topic["id"]}" %>"><%= "#{topic["title"]}" %></a>
			<a href="/topic/<%= "#{topic["id"]}" %>"><img src=<%= "#{topic["image_url"]}" %>></a>

			<div class="vote">

				<div>
					<form action="/topic" method="post">

						<input type="hidden" name="_method" value="put" />
						<input type="hidden" name="topic_id" value=<%= "#{topic["id"]}" %>>
						
						<div class="like">
							<input type="submit" value="LIKE" />
						</div>
					</form>
				</div>
				<div>
					LIKES: <%= "#{topic['vote']}"%>
				</div>		
				<div>
					POSTS: <%= "#{topic['post_count']}"%>
				</div>		
			</div>

		
		</div>
	<% end %>
</div>