<div class="main-greeting">YOU'RE IN <%= "#{@topic.first["title"].upcase}" %>, <%= @intro %></div>


<div class="form-container">

	<% if current_user %>
		
		<form class="contact" action="/post" method="post">
			<input type="hidden" name="topic_id" value=<%= "#{@topic.first["id"]}" %>>
			<div class="input-row">
				<label for="title">ACTIVITY: </label>
				<input type="text" name="title" />
			</div>
			
			<div class="input-row">
				<label for="description">DESCRIPTION: </label>
				<input type="text" name="description" />
			</div>
			
			<div class="input-row">
				<label for="image_url">IMAGE LINK: </label>
				<input type="text" name="image_url" />
			</div>

			<div class="input-row">
				<label for="author">AUTHOR: </label>
				<input type="text" name="author" />
			</div>
			
			<div class="input-row">
				<input type="submit" value="LET'S GO!" />
			</div>
		</form>
	
	<% else %>
		<a href="/login">Login</a> <a href="/signup">Register</a> to post
	<% end %>

</div>

<div class="topic-wrapper clearfix">

	<% if @topic.first.length %>

		<% if @posts.length > 0 %>
			<% @posts.each do |post| %>
				<div class="topic-tile">
					<div>
						<a href="/post/<%= "#{post["id"]}" %>"><%= "#{post["title"]}" %></a>
						<a href="/post/<%= "#{post["id"]}" %>"><img src=<%= "#{post["image_url"]}" %>></a>
					
					</div>
					

					<div class="vote">

						<div>
							<form action="/post" method="post">

								<input type="hidden" name="_method" value="put" />
								<input type="hidden" name="topic_id" value=<%= "#{@topic.first["id"]}" %>>
								<input type="hidden" name="post_id" value=<%= "#{post["id"]}" %>>
								
								<div class="like">
									<input type="submit" value="LIKE" />
								</div>
							</form>
						</div>
						<div>
							LIKES: <%= "#{post['vote']}"%>
						</div>
						<div>
							COMMENTS: <%= "#{post['']}"%>
						</div>
					</div>
					</div>

			<% end %>
		<% else %>	
			<div class="no-posts">(no activities yet)</div>
		<% end %>
	</div>
	<% end %>
</div>

